body,header,main,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

body{
    display: flex;
    flex-direction: column;
  
    background-image: linear-gradient(to left , #DEB49F,#D9D9D9);
}
/*Start Fonts and variables for colors*/
@font-face {
    font-family: 'Poppins'; /* Nombre de la fuente */
    src: url('C:\Users\User\Desktop\Shirini\recursos\fonts\Poppins\Poppins-ExtraBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira'; /* Nombre de la fuente */
    src: url('C:\Users\User\Desktop\Shirini\recursos\fonts\Saira\static\Saira-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaE'; /* Nombre de la fuente */
    src: url('C:\Users\User\Desktop\Shirini\recursos\fonts\Saira\static\Saira-ExtraBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root{
    --brown_: #671F1F;
    --pink_:#EF83D180;
    --celeste_: #D6E9FF
}
/*End fonts and variables for colors*/

/*Seccion main---------------Start*/
main{
    height: 100dvh;
    overflow: hidden;
}
/*Section main---------------End*/
.product-container {
   margin-top: 100px;
    display: flex;
    background-color: none;
    padding: 20px;
    border-radius: 10px;
}

.product-image img {
    margin-top: 0%;
    width: 375px;
    height: auto;
    border-radius: 10px;
    margin-left: 30px;
    
}

.product-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-image h1 {
    font-size: 32px;
    color: #3B2B20;
    margin-left: 30px;
    margin-top: 8px;

}


.product-info p {
    font-size: 25px;
    color: #3B2B20;
    margin-top: -22px;
    margin-left: 30px;
    margin-right: 200px;
    line-height: 35px;
    text-align: left;
}

.order-button {
    margin-top: -5%;
    margin-left: 80%;
    background-color:  rgba(0, 0, 0, 0.2);  
    color: #3B2B20;
    padding: 15px;
    width: 250px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color:  rgba(0, 0, 0, 0.5);
    color: white;
}

.order-button a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 768px) {
    main{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    main p{
        font-size: 15px;
        margin: 35% 0 0 25px;
    }
    
    main h1{
        font-size: 60px;
        margin: 0 0 0 25px;
    }
    
    main h2{
        font-size: 15px;
        margin: 0 0 0 25px;
    }
    
    main button{
        width: 170.32px;
        height: 55.7px;
        margin: 0 0 0 25px;
        margin-top: 30px;
        background-color: pink;
    }

    .Contenedor-1{
        height: 400px;
        position: relative;
        display: none;
    }
    
    .Contenedor-2{
        height: 400px;
        position:relative;  
        z-index: -1;
    }

    .Contenedor-2 img{
        width: 495px;
        height: 575px;
        position: absolute;
        top: -10%;
        left: -25px;
    }
    /*Header Main-------Start*/
    
    /*Header Main-------End*/
    footer p{
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 20px;
    }
    
    .Footer__Contenedor{
        width: 100%;
        box-sizing: border-box;
    }
    
    .Contenedor__Items1{
        font-size: 15px;
        display: inline-block;
        width: 150px;
        padding: 0;
        align-items: center;
    }
    
    .Contenedor__Items2{
        font-size: 15px;
        display: inline-block;
        width: 200px;
        padding: 0;
        align-items: center;
    }
    /*Header Footer-------End*/

  }