footer{
   height: 221px;
   background-image: linear-gradient(to right, var(--celeste_), #D847C0);
   box-shadow: 0px -4px 4px #00000025;
   height: auto;
}

.Footer__Contenedor{
   display: flex;
   flex-wrap: wrap;
   width: 50%;
   padding: 20px 0;
}

.contenedor-main-items {
   width: 50%;
}

.Contenedor__Items{
   display: flex;
   width: auto;
   align-items: center;
   gap: 8px;
   padding: 10px;
   margin-left: 10px;
}

footer p {
   font-size: 26px;
   margin-left: 10px;
}

footer a{
   font-size: 20px;
}

.Footer__Contenedor a{
   color: black;
   text-decoration: none;
}


@media (max-width: 768px) {
   footer p{
       font-size: 20px;
       font-weight: bold;
       padding: 0 0 0 20px;
   }
   
   .Footer__Contenedor{
       width: 100%;
       flex-direction: column;
   }

   .contenedor-main-items {
      width: 80%;
   }
   
   .Contenedor__Items {
       font-size: 15px;
       margin-left: 18px;
       width: 80%;
   }
   /*Header Footer-------End*/

 }
 /*Adaptacion a movil---------------End*/
