body,header,main,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--pink_),var(--Amarillo_));
}


/*Start Fonts and variables for colors*/
@font-face {
    font-family: 'Poppins'; /* Nombre de la fuente */
    src: url('C:\Users\User\Desktop\Shirini\recursos\fonts\Poppins\Poppins-ExtraBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira'; /* Nombre de la fuente */
    src: url('C:\Users\User\Desktop\Shirini\recursos\fonts\Saira\static\Saira-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaE'; /* Nombre de la fuente */
    src: url("{{ asset('recursos_index/fonts/Saira/static/Saira-ExtraBold.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
} 

:root{
    --brown_: #671F1F;
    --pink_:#EF83D180;
    --celeste_: #D6E9FF;
    --menta_: #608F80;
    --chocolate_:#8F620A;
    --cereza_:#A01927;
    --Amarillo_:#CAC326;
}
/*End fonts and variables for colors*/

/*Seccion header---------------Inicio*/
header{
    position: absolute; /*El main ocupa 100dvh y el header esta absoluto para que el fondo forme parte tambien del fondo del header gracias al z-index*/
    width:100%;
    height: 15dvh;
    z-index: 100;
}

/*Seccion main---------------Start*/
main{
    height: 100dvh;
    overflow: hidden;
    align-content: center;
    z-index: 1;
}

.Main__ContenedorTarjeta{
    width: 35%;
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.ContenedorTarjeta-InfoTarjetas{
    flex: 1;
    font-family: 'Saira';
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ContenedorTarjeta-InfoTarjetas h3{
    margin: 15px auto 0 auto;
    font-size: 20px;
    font-weight: bold;
}

.ContenedorTarjeta-InfoTarjetas label{
    font-size: 15px;
    text-align: start;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px auto;
}

.ContenedorTarjeta-InfoTarjetas label input{
    border-radius: 15px;
    height: 30px;
    border: 1px solid gray;
    box-shadow: 0 4px 4px #0002;
}

.ContenedorTarjeta-InfoTarjetas p{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

.ContenedroTarjeta-BotonesDePagar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 15px;
}

.ContenedroTarjeta-BotonesDePagar button{
    background-color: transparent;
    border: none;
}

.ContenedroTarjeta-BotonesDePagar button {
    display: flex;
    color: black;
    background-color: var(--pink_);
    padding: 0 20px;
    margin: 10px auto;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    border: none;
    font-size: inherit;
    text-decoration: none;
}

/*Psudoe-clases para el main-------start*/

.InfoTarjeta-Pagar:active{
    color: black;
    opacity: 0.5;
}

.InfoTarjeta-Pagar:visited{
    color: black;
}

.InfoTarjeta-Pagar:hover{
    transform: scale(1.05); /* Aumenta el tamaño en un 10% */
}


.InfoTarjeta-Cambiar:active{
    color: black;
    opacity: 0.5;
}

.InfoTarjeta-Cambiar:visited{
    color: black;
}

.InfoTarjeta-Cambiar:hover{
    transform: scale(1.05); /* Aumenta el tamaño en un 10% */
}
/*Psudoe-clases para el footer del main-------final*/
/*Seccion Main-----------------End*/

/*Adaptacion a movil---------------Start*/
@media (max-width: 768px) {

    /*Main section---------start*/
    .Main__ContenedorTarjeta{
        width: 80%;
    }
    /*Main section---------end*/

    /*Footer section-------start*/
    footer p{
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 20px;
    }
    
    .Footer__Contenedor{
        width: 100%;
        box-sizing: border-box;
    }
    
    .Contenedor__Items1{
        font-size: 15px;
        display: inline-block;
        width: 150px;
        padding: 0;
        align-items: center;
    }
    
    .Contenedor__Items2{
        font-size: 15px;
        display: inline-block;
        width: 200px;
        padding: 0;
        align-items: center;
    }
    /*Footer section-------End*/
}
/*Adaptacion a movil---------------End*/