:root{
    --brown_: #671F1F;
    --pink_:#EF83D180;
    --celeste_: #d6e9ff;
}
/*End fonts and variables for colors*/

body,header,main,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

body{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle at 100% 100%, var(--celeste_), transparent);
}

/*Psudoe-clases para los a del header--------final*/
/*Section header end------------------*/

/*Seccion main---------------Inicio*/
main{
    height: 100dvh;
    overflow: hidden;
}

main p{
    font-family: 'SairaE';
    font-size: 17.6px;
    color: var(--brown_);
    margin: 184px 0 0 200px;
}

main h1{
    font-family: 'Poppins';
    font-size: 56.32px;
    color: var(--brown_);
    margin: 0 0 0 200px;
}

main h2{
    font-family: 'Saira';
    font-size: 15px;
    color: var(--brown_);
    margin: 0 0 0 200px;
}

main button{
    width: 170.32px;
    height: 55.7px;
    background-color: var(--pink_);
    color: white;
    margin: 0 0 0 200px;
    margin-top: 30px;
    border-radius: 7.04px;
    box-shadow: 0px 4px 4px #00000025;
    border: none;
}

main button a{
    color: white;
    text-decoration: none;
}

.Contenedor-1{
    position: absolute;
    top: -184.59px;
    left: -50px;
    z-index: -1;
    transform: rotate(38.66deg);
}

.Contenedor-2{
    height: 400px;
    position: relative;
}

.Contenedor-2 img{
    width: 800px;
    height: 800px;
    position: absolute;
    left: 550px;
    bottom: 50px;
}


/*Psudoe-clases para el button del main-------inicio*/
main button:active{
    background-color:#F58E9910 ;
}

main button a:visited{
    color: white;
}

main button:hover{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
}

main button a:focus{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
}
/*Psudoe-clases para el button del main-------final*/
/*Seccion main---------------Final*/

/*Seccion footer---------------Inicio*/

/*Psudoe-clases para el button del main-------final*/
.Contenedor__Items1 a:active{
    color: #0001;
}

.Contenedor__Items1 a:visited{
    color: black;
}

.Contenedor__Items1 a:hover{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    border-radius: 5px;
}

.Contenedor__Items2 a:active{
    color: #0001;
}

.Contenedor__Items2 a:visited{
    color: black;
}

.Contenedor__Items2 a:hover{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    border-radius: 5px;
}

/*Psudoe-clases para el footer del main-------final*/
/*Seccion footer---------------Final*/




/*Adaptacion a movil---------------Start*/
@media (max-width: 768px) {
    /* Estilos para pantallas de 768px o menos */
    /*Header Section-------Start*/
    

    main{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    main p{
        font-size: 15px;
        margin: 35% 0 0 25px;
    }
    
    main h1{
        font-size: 60px;
        margin: 0 0 0 25px;
    }
    
    main h2{
        font-size: 15px;
        margin: 0 0 0 25px;
    }
    
    main button{
        width: 170.32px;
        height: 55.7px;
        margin: 0 0 0 25px;
        margin-top: 30px;
        background-color: pink;
    }

    .Contenedor-1{
        height: 400px;
        position: relative;
        display: none;
    }
    
    .Contenedor-2{
        height: 400px;
        position:relative;  
        z-index: -1;
    }

    .Contenedor-2 img{
        width: 495px;
        height: 575px;
        position: absolute;
        top: -10%;
        left: -25px;
    }
}