body,header,main,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, var(--pink_),var(--Amarillo_));
}


/*Start Fonts and variables for colors*/
@font-face {
    font-family: 'Poppins';
    src: url("{{ asset('fonts/Poppins/Poppins-ExtraBold.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaE';
    src: url("{{ asset('fonts/Saira/static/Saira-ExtraBold.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root{
    --brown_: #671F1F;
    --pink_:#EF83D180;
    --celeste_: #D6E9FF;
    --menta_: #608F80;
    --chocolate_:#8F620A;
    --cereza_:#A01927;
    --Amarillo_:#CAC326;
}
/*End fonts and variables for colors*/

/*Seccion header---------------Inicio*/
header{
    position: absolute; /*El main ocupa 100dvh y el header esta absoluto para que el fondo forme parte tambien del fondo del header gracias al z-index*/
    width:100%;
    height: 15dvh;
    z-index: 100;
}

#MenuHamburguesa{
    display: none;
}

.Header__NavegadorSecundario{
    display: none;
}

.header__nav{
    display: flex;
    justify-content: space-between; /* Centramos los elementos en el eje horizontal */
    margin: 20px 20px;
}

.header__nav{
    display: flex; 
    justify-content: space-between; /* Centramos los elementos en el eje horizontal */
    align-items: center; /* Centramos los elementos en el eje vertical */
    margin: 20px 20px;
}

.header__nav img{
    height: 50px;
    width: 50px;
}

.header-a{
    flex: 1;
    margin-left:10px;
    font-size: 32px;
    color: var(--brown_);
    text-decoration: none;
}

.header__nav-list{
    display: flex;
    flex: 1;
    justify-content: end;
}

.header__nav-list li{
    list-style: none;
    margin: 5px 20px 0 20px;
}

.nav__list-a{
    text-decoration: none;
    color: black;
}

.enlaceLogin{
    background-color: var(--pink_);
    padding: 5px 20px;
    border-radius: 15px;
}

/*Psudoe-clases para los a del header--------inicio*/
.nav__list-a:active{
    color:#0001
}

.nav__list-a:visited{
    color: black;
}

.nav__list-a:hover{
    border-bottom: 1px solid black;
}

.enlaceLogin:hover{
    border: none;
}

.header-a:visited{
    color: var(--brown_);
}
/*Psudoe-clases para los a del header--------final*/
/*Section header end------------------*/

/*Seccion main---------------Start*/
main{
    height: 100dvh;
    overflow: hidden;
    align-content: center;
}

.Main__ContenedorTarjeta{
    width: 35%;
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.ContenedorTarjeta-InfoTarjetas{
    flex: 1;
    font-family: 'Saira';
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ContenedorTarjeta-InfoTarjetas h3{
    margin: 40px auto 0 auto;
    font-size: 20px;
    font-weight: bold;
}

.ContenedorTarjeta-InfoTarjetas label{
    font-size: 18px;
    text-align: start;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}

.ContenedorTarjeta-InfoTarjetas label input{
    border-radius: 15px;
    height: 30px;
    border: 1px solid gray;
    box-shadow: 0 4px 4px #0002;
}

.ContenedorTarjeta-InfoTarjetas p{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}

.ContenedroTarjeta-BotonesDePagar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 15px;
}

.InfoTarjeta-Cambiar{
    display: flex;
    text-decoration: none;
    color: black;
    background-color: var(--pink_);
    padding: 0 20px;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    font-size: inherit;
}

.InfoTarjeta-Pagar{
    display: flex;
    color: black;
    background-color: var(--pink_);
    padding: 0 20px;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    margin-left: 10px ;
    border: none;
    font-size: inherit;
}


/*Psudoe-clases para el main-------start*/

.InfoTarjeta-Pagar:active{
    color: black;
    opacity: 0.5;
}

.InfoTarjeta-Pagar:visited{
    color: black;
}

.InfoTarjeta-Pagar:hover{
    transform: scale(1.05); /* Aumenta el tamaño en un 10% */
}


.InfoTarjeta-Cambiar:active{
    color: black;
    opacity: 0.5;
}

.InfoTarjeta-Cambiar:visited{
    color: black;
}

.InfoTarjeta-Cambiar:hover{
    transform: scale(1.05); /* Aumenta el tamaño en un 10% */
}
/*Psudoe-clases para el footer del main-------final*/
/*Seccion Main-----------------End*/


/*Seccion footer---------------Inicio*/
footer{
    flex: 1;
    height: 221px;
    background-image: linear-gradient(to right, var(--celeste_), #D847C0);
    box-shadow: 0px -4px 4px #00000025;
}

footer p{
    font-size: 24px;
    padding: 0 0 0 20px;
}

.Footer__Contenedor{
    margin-bottom: 20px;
    width: 30%;
    padding: 0 0 0 20px;
}

.Footer__Contenedor a{
    color: black;
    text-decoration: none;
}
.Contenedor__Items1{
    font-size: 15px;
    display: inline-block;
    width: 150px;
    padding: 0;
    align-items: center;
}

.Contenedor__Items2{
    font-size: 15px;
    display: inline-block;
    width: 200px;
    padding: 0;
    align-items: center;
}

/*Psudoe-clases para el footer-------inicio*/
.Contenedor__Items1 a:active{
    color: #0001;
}

.Contenedor__Items1 a:visited{
    color: black;
}

.Contenedor__Items1 a:hover{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}

.Contenedor__Items1 a:focus{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}

.Contenedor__Items2 a:active{
    color: #0001;
}

.Contenedor__Items2 a:visited{
    color: black;
}

.Contenedor__Items2 a:hover{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}

.Contenedor__Items2 a:focus{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}
/*Psudoe-clases para el footer-------final*/
/*Seccion footer---------------Final*/



/*Adaptacion a movil---------------Start*/
@media (max-width: 768px) {
    /* Estilos para pantallas de 768px o menos */
    /*Header Section-------Start*/
    header{
        width: 100vw;
        height: 11vh;
        justify-content: space-between;
        overflow: hidden;
        align-content: center;
        z-index: 1001;
        position: fixed;
        background-color: #fff;
        box-shadow: 0 2px 2px #0002;
    }

    .transparent{
        background-color: transparent;  
        box-shadow: none;
    }

    .quitar{
        display: none;
    }

    #MenuHamburguesa{
        display: block;
        background-color: transparent;
        border: none;
        margin-right: 10%;
        flex: 1;
        text-align: right;
    
    }

    #MenuHamburguesa img{
        position: absolute;
        top: 30%;
        width: 40px;
        height: 40px;
    }

    .header-a{
        display: block;
        font-size: 1rem;
    }

    .oculto{
        display: none;
    }

    .header__nav-list{
        display: none;
    }
    
    .Header__NavegadorSecundario{
        height: 100%;
        width: 100dvw;
        background-color: var(--celeste_);
        position: fixed;
        z-index: 1000;
        transition: all 0.3s ease-in-out;
        padding-top: 6%;
    }

    .header__nav-listSecundario{
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .Header__NavegadorSecundario.active{
        display: block;
        background-color: var(--celeste_);
    }

    .header__nav-listSecundario li{
        flex: 1;
        align-content: center;
        list-style: none;
    }

    .navSecundario__list-a
    {
        color: var(--brown_);
        text-decoration: none;
        font-size: 25px;
    }
    /*Header Section-------End*/

    /*Main section---------start*/
    main{
        height: 100vh;
    }

    .Main__ContenedorTarjeta{
        width: 80%;
    }
    /*Main section---------end*/
    /*Footer section-------start*/
    footer p{
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 0 20px;
    }
    
    .Footer__Contenedor{
        width: 100%;
        box-sizing: border-box;
    }
    
    .Contenedor__Items1{
        font-size: 15px;
        display: inline-block;
        width: 150px;
        padding: 0;
        align-items: center;
    }
    
    .Contenedor__Items2{
        font-size: 15px;
        display: inline-block;
        width: 200px;
        padding: 0;
        align-items: center;
    }
    /*Footer section-------End*/
}
/*Adaptacion a movil---------------End*/