body,
header,
main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

body {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle at 0% 0%, var(--celeste_), transparent);
}


/*Start Fonts and variables for colors*/
@font-face {
    font-family: 'Poppins';
    src: url("{{ asset('fonts/Poppins/Poppins-ExtraBold.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url("{{ asset('fonts/Saira/static/Saira-Regular.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaE';
    src: url("{{ asset('fonts/Saira/static/Saira-ExtraBold.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}


:root {
    --brown_: #671F1F;
    --pink_: #EF83D180;
    --celeste_: #D6E9FF;
    --menta_: #608F80;
    --chocolate_: #8F620A;
    --cereza_: #A01927;
}

/*End fonts and variables for colors*/

/*Seccion main---------------Start*/
.MainPc {
    height: 100vh;
    overflow: hidden;
    align-content: center;
}

.MainMovil {
    display: none;
    height: 100vh;
    overflow: hidden;
}

.Contenedor__Carrito {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 500px;
    margin: 100px auto;
}

.Contenedor__CIzquierdo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 39%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000025;
    overflow-y: scroll;
    /* Habilitamos el desplazamiento vertical */
}

.FlechaArriba {
    height: 45px;
    width: 45px;
    position: absolute;
    background: none;
    border: none;
    left: 35%;
    top: 20%;
}

.FlechaArriba img {
    height: 45px;
    width: 45px;
}

.Contenedor__Carrusel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.CarruselDerecho {
    overflow-y: scroll;
    /* Habilitamos el desplazamiento vertical */
    flex: 1;
}

.Carrusel-Item {
    display: flex;
    margin: 3px;
    border-radius: 15px;
    height: 140px;
}

.Item-Img {
    display: grid;
    place-items: center;
}

.Item-Img img {
    margin-left: 5px;
    margin-right: 10px;
    width: 130px;
}

.item1 {
    margin-top: 8px;
    background-color: var(--pink_);
}

.item2 {
    background-color: var(--menta_);
}

.item3 {
    background-color: var(--chocolate_);
}

.item4 {
    background-color: var(--cereza_);
}

.item5 {
    background-color: var(--pink_);
}

.item6 {
    background-color: var(--chocolate_);
}

.Item-Descripcion {
    width: 100%;
}

.Item-Descripcion h2 {
    margin: 0;
    margin-top: 15px;
}

.Item-Descripcion p {
    margin-top: 0;
}

.FlechaAbajo {
    height: 45px;
    width: 45px;
    position: absolute;
    background: none;
    border: none;
    left: 35%;
    bottom: 10%;
}

.FlechaAbajo img {
    height: 45px;
    width: 45px;
}

.Contenedor__CDerecho {
    background-color: white;
    width: 59%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000025;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CDerecho__Item {
    display: flex;
    width: 97%;
    height: 80px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--celeste_);
}

.ItemTotal-Img {
    display: grid;
    place-items: center;
    margin-left: 5px;
    margin-right: 10px;
}

.ItemTotal-Img img {
    height: 70px;
    width: 70px;
}

.Item-DescripcionTotal {
    width: 70%;
}

.Item-DescripcionTotal h2 {
    margin: 0;

}

.Item-DescripcionTotal p {
    margin: 0;
}

.Item-Cantidad {
    display: flex;
}

.Item-Cantidad button {
    height: 30px;
    width: 30px;
    margin: auto 10px;
}

.Item-Cantidad label {
    margin: auto 5px;
}

.CDerecho__Total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 97%;
    height: 100px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #0002;
    overflow: hidden;
}

.Total-Text {
    display: flex;
    justify-items: space-between;
    width: 100%;
    margin: 0;
}

.Total-Text h3 {
    display: block;
    margin-left: 20px;
    width: 50%;
}

.Total-Text p {
    display: block;
    text-align: end;
    margin-right: 20px;
    width: 50%;
}

.Total-button {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: end;
}

.Total-button a {
    margin: 0 20px 20px 0;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #0002;
    color: black;
    text-decoration: none;
    text-align: center;
    align-content: center;
}

.payValor-movil, .payButton-movil, .payButton, .payValor {
    cursor: pointer;
}

/*pseudoclases para el main------------start*/
.Total-button a:active {
    background-color: #0001;
}

.Total-button a:hover {
    transform: scale(1.1);
}

.Contenedor__FlechaAbajo button img:hover {
    transform: scale(1.1);
}

.Contenedor__FlechaArriba button img:hover {
    transform: scale(1.1);
}

.Total-button a:visited {
    color: black;
}

.Total-button a:active {
    color: black;
}

.Contenedor__Items1 a:active {
    color: #0001;
}

.Contenedor__Items1 a:visited {
    color: black;
}

.Contenedor__Items1 a:hover {
    border-radius: 5px;
}

.Contenedor__Items1 a:focus {
    border-radius: 5px;
}

.Contenedor__Items2 a:active {
    color: #0001;
}

.Contenedor__Items2 a:visited {
    color: black;
}

.Contenedor__Items2 a:hover {
    border-radius: 5px;
}

.Contenedor__Items2 a:focus {
    border-radius: 5px;
}

/*Psudoe-clases para el footer del main-------final*/
/*Seccion footer---------------Final*/


/*Adaptacion a movil---------------Start*/
@media (max-width: 768px) {
    /* Estilos para pantallas de 768px o menos */
    /*Header Section-------Start*/


    /*Main section---------start*/
    .MainPc {
        display: none;
    }

    .MainMovil {
        display: block;
        padding-top: 12vh;
    }

    .MainMovil__Contenedor {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Contenedor__Item {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        /* Habilitamos el desplazamiento vertical */

    }

    .Item--Tarjeta {
        width: 90%;
        height: 150px;
        margin: 5px auto;
        border-radius: 15px;
        display: flex;
    }

    .Contenedor__Img {
        display: flex;
        align-items: center;
    }

    .Contenedor__Img img {
        margin: 5px 0 5px 10px;
    }

    .Item--1Movil {
        background-color: var(--pink_);
    }

    .Item--2Movil {
        background-color: var(--menta_);
    }

    .Item--3Movil {
        background-color: var(--chocolate_);
    }

    .Item--4Movil {
        background-color: var(--cereza_);
    }

    .Item--5Movil {
        background-color: var(--pink_);
    }

    .Item--6Movil {
        background-color: var(--chocolate_);
    }

    .Contenedor__DescripcionYBotones {
        flex: 1;
        padding-left: 20px;
    }

    .Contenedorr__Total {
        box-shadow: 0 -4px 4px #0002;
    }

    .Contenedor__Img img {
        width: 130px;
    }

}
