body,header,main,footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(200deg,  #b3e5fc 0%, #517d76 100%);
    overflow: hidden;
}
/*Start Fonts and variables for colors*/
@font-face {
    font-family: 'Poppins';
    src: url("{{ asset('fonts/Poppins/Poppins-ExtraBold.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SairaE';
    src: url("{{ asset('fonts/Saira/static/Saira-ExtraBold.ttf') }}") format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root{
    --brown_: #671F1F;
    --pink_:#EF83D180;
    --celeste_: #D6E9FF
}
/*End fonts and variables for colors*/

/*Header section start----------------*/

/*Psudoe-clases para los a del header--------final*/
/*Section header end------------------*/

/*Seccion main---------------Start*/
main{
    height: 100dvh;
    overflow: hidden;
}
/*Section main---------------End*/

/*Seccion footer---------------Inicio*/

.Contenedor__Items1{
    font-size: 15px;
    display: inline-block;
    width: 150px;
    padding: 0;
    align-items: center;
}

.Contenedor__Items2{
    font-size: 15px;
    display: inline-block;
    width: 200px;
    padding: 0;
    align-items: center;
}

/*Psudoe-clases para el button del main-------final*/
.Contenedor__Items1 a:active{
    color: #0001;
}

.Contenedor__Items1 a:visited{
    color: black;
}

.Contenedor__Items1 a:hover{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}

.Contenedor__Items1 a:focus{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}

.Contenedor__Items2 a:active{
    color: #0001;
}

.Contenedor__Items2 a:visited{
    color: black;
}

.Contenedor__Items2 a:hover{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}

.Contenedor__Items2 a:focus{
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
    padding: 5px;
    border-radius: 5px;
}

.preguntas-respuestas{
    
    margin-top: 10%;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    margin-left: 120px;
    font-size: 12px;
    overflow-y: scroll;
    
}

.numero1-{
    
    align-content: center;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    font-size: 12px;
 
}
.numero1- p{
 
    width: 400px;
    height: 300px;
    border-radius: 15px;
    margin-left: 30px;
    font-size: 12px;
    
}
.numero1- h1{
    
   text-align: center;
}

.numero2-{
    margin-top: 5%;
    align-content: center;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    font-size: 12px;
 
}
.numero2- p{
    
    margin-top: 5%;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    margin-left: 30px;
    font-size: 12px;

}




.terminos-condiciones{
      
    margin-top: -32%;
    width: 450px;
    height: 400px;
    border-radius: 15px;
    margin-left: 55%;
    font-size: 12px;
    overflow: scroll;
    
    
}

.numero1{
    align-content: center;
    background-color: white;
    width: 450px;
    height: 240px;
    border-radius: 15px;
    font-size: 12px;
    
    
}
.numero1 p{
    
    margin-top: 5%;
    width: 350px;
    height: 300px;
    border-radius: 15px;
    margin-left: 30px;
    font-size: 12px;

}

.numero1 h1{
   
    text-align: center;
}

.numero2{
    margin-top: 5%;
    align-content: center;
    background-color: white;
    width: 450px;
    height: 200px;
    border-radius: 15px;
    font-size: 12px;
 
}
.numero2 p{
    
    margin-top: 5%;
    width: 350px;
    height: 300px;
    border-radius: 15px;
    margin-left: 30px;
    font-size: 12px;

}

.numero3{
    margin-top: 5%;
    align-content: center;
    background-color: white;
    width: 450px;
    height: 250px;
    border-radius: 15px;
    font-size: 12px;
 
}
.numero3 p{
    
    margin-top: 5%;
    width: 350px;
    height: 300px;
    border-radius: 15px;
    margin-left: 30px;
    font-size: 12px;

}

